{% if ansible_facts["ansible_distribution"] == "debian" %}
deb [signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable
{% else if ansible_facts["ansible_distribution"] == "ubuntu" %}
deb [signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
{% endif %}
