- hosts: debian
  name: Ready a fresh Debian node for usage
  tasks:
    - name: Install htop, lm-sensors, nut-client, unattended-upgrades
      become: true
      become_user: root
      with_items:
        - htop
        - lm-sensors
        - nut-client
        - unattended-upgrades
      ansible.builtin.apt:
        name: "{{ item }}"
        state: present
        autoremove: true
        purge: true
    - name: Deploy unattended-upgrades config
      become: true
      become_user: root
      ansible.builtin.copy:
        dest: /etc/apt/apt.conf.d/20auto-upgrades
        mode: "0644"
        content: |
          APT::Periodic::Update-Package-Lists "1";
          APT::Periodic::Unattended-Upgrade "1";
    - name: Deploy nut.conf
      become: true
      become_user: root
      ansible.builtin.copy:
        src: files/nut.conf
        dest: /etc/nut/nut.conf
        mode: "0644"
      notify:
        - Restart nut-monitor
    - name: Deploy upsmon.conf
      become: true
      become_user: root
      ansible.builtin.copy:
        src: files/upsmon.conf
        dest: /etc/nut/upsmon.conf
        mode: "0644"
      notify:
        - Restart nut-monitor
    - name: Enable nut-monitor service
      become: true
      become_user: root
      ansible.builtin.systemd_service:
        name: nut-monitor
        enabled: true

    - name: Truncate static motd
      become: true
      become_user: root
      ansible.builtin.copy:
        dest: /etc/motd
        mode: "0644"
        content: ""
    - name: Deploy update-motd.d files
      become: true
      become_user: root
      ansible.builtin.copy:
        src: files/update-motd.d/
        dest: /etc/update-motd.d/
        mode: "0755"
    - name: Ensure systemd-resolved is not installed (If Debian >=12)
      become: true
      become_user: root
      ansible.builtin.apt:
        name: systemd-resolved
        state: absent
        autoremove: true
        purge: true
      when: ansible_facts["distribution_major_version"] | int >= 12
    - name: Disable and stop systemd-resolved service (If Debian <12)
      become: true
      become_user: root
      ansible.builtin.systemd_service:
        name: systemd-resolved
        enabled: false
        state: stopped
      when: ansible_facts["distribution_major_version"] | int < 12
    - name: Check if /etc/resolv.conf is a symlink
      become: true
      become_user: root
      ansible.builtin.stat:
        path: /etc/resolv.conf
      register: resolvconf
    - name: Remove /etc/resolv.conf symlink
      become: true
      become_user: root
      ansible.builtin.file:
        follow: false
        path: /etc/resolv.conf
        state: absent
      when: resolvconf.stat.islnk is defined and resolvconf.stat.islnk
    - name: Deploy /etc/resolv.conf
      become: true
      become_user: root
      ansible.builtin.copy:
        src: files/resolv.conf
        dest: /etc/resolv.conf
        mode: "0644"
    - name: Tell dhclient to not change resolv.conf
      become: true
      become_user: root
      ansible.builtin.copy:
        dest: /etc/dhcp/dhclient-enter-hooks.d/leave_my_resolv_conf_alone
        mode: "0755"
        content: "make_resolv_conf() { :; }"
    - name: Ensure .ssh dir exists
      ansible.builtin.file:
        path: ~/.ssh
        state: directory
        mode: "0755"
    - name: Deploy authorized_keys
      ansible.builtin.copy:
        src: files/authorized_keys
        dest: ~/.ssh/authorized_keys
        mode: "0600"
    - name: Deploy bashrc
      ansible.builtin.copy:
        src: files/bashrc
        dest: ~/.bashrc
        mode: "0644"
    - name: Deploy bash_profile  # debian default PATH for non-root doesn't include sbin
      ansible.builtin.copy:
        dest: ~/.bash_profile
        mode: "0644"
        content: |
          if [ -f "$HOME/.bashrc" ]; then
            source "$HOME/.bashrc"
          fi
          PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

  handlers:
    - name: Restart nut-monitor
      become: true
      become_user: root
      ansible.builtin.systemd_service:
        name: nut-monitor
        state: restarted
